<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Flask Webpage via lambda URL</title>
</head>
<body>
    <center>
        <h3>This is an Lambda website demo</h3>
        <img src="{{ url_for('static', filename='images/example.jpg') }}" width="300" height="200" alt="Example Image">
        <p>AWS Lambda Web Adapter allows developers to build web apps (http api) with familiar frameworks (e.g. Express.js, Next.js, Flask, SpringBoot, ASP.NET and Laravel, anything speaks HTTP 1.1/1.0) and run it on AWS Lambda.</p>
    </center>
</body>
</html>

