<!DOCTYPE html>
<html>
<head>
    <title>Server Information</title>
    <link rel="stylesheet" href="{{ url_for('style') }}">
</head>
<body>
    <h1>Server Information</h1>

    <h2>Hostname</h2>
    <table>
        <tr>
            <th>Hostname</th>
        </tr>
        <tr>
            <td>{{ hostname }}</td>
        </tr>
    </table>

    <h2>Request Headers</h2>
    <table>
        <tr>
            <th>Header</th>
            <th>Value</th>
        </tr>
        {% for header, value in request_headers.items() %}
        <tr>
            <td>{{ header }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Response Headers</h2>
    <table>
        <tr>
            <th>Header</th>
            <th>Value</th>
        </tr>
        {% for header, value in response_headers.items() %}
        <tr>
            <td>{{ header }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>